@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the Document Creation App</h2>

<p>
    Use this application to create documents with customer information.
</p>

<p>
    <a href="@Url.Action("CreateDocument", "Home")">Create a New Document</a>
</p>
